.container {
    padding-inline: 1rem;
}

@media screen and (max-width: 600px) {
    span#page-title {
        display: none;
    }
}

div#table-container {
    overflow: auto;
}

nav {
    overflow-wrap: break-word;
}

nav .avatar {
    filter: contrast(0%) brightness(2);
    width: 30px;
}

p {
    font-size: 16px;
}

th,
td {
    min-width: 80%;
    padding-inline: 15px;
    overflow-wrap: break-word;
}

th {
    background-color: #cacaca;
}

nav,
button,
a.btn-floating {
    background-color: #00385E !important;
}
